/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    overflow-x: hidden;
}

body {

    background-color: #FFFFFF;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:1em;
    height:auto;
    width:95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding:0;
}

main {
  height: auto;
  text-align: center;
  background-color: #FFFFFF;
}

footer {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;
}

#logo {
    width: 100%;
}

.indexbutton {
    background-color: #E5E7E9;
    border: solid;
    color: black;
    padding: 0em 1em;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    margin: .286em .143em;
    margin-top: 2em;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.menuItem {
    display:block;
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    width: 150px;
    margin: 10px;
    border: 3px solid #FFFFFF; 
    color: white;
}